ecci.inv.system/Service References/ProductRawService/ProdRaw.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetProductRaw">
        <s:complexType />
      </s:element>
      <s:element name="GetProductRawResponse">
        <s:complexType />
      </s:element>
      <s:element name="ShowDeliveredById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowDeliveredByIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateDispatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="upid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDispatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDispatchResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetProductRawSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductRaw" />
  </wsdl:message>
  <wsdl:message name="GetProductRawSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductRawResponse" />
  </wsdl:message>
  <wsdl:message name="ShowDeliveredByIdSoapIn">
    <wsdl:part name="parameters" element="tns:ShowDeliveredById" />
  </wsdl:message>
  <wsdl:message name="ShowDeliveredByIdSoapOut">
    <wsdl:part name="parameters" element="tns:ShowDeliveredByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDispatchSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDispatch" />
  </wsdl:message>
  <wsdl:message name="UpdateDispatchSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDispatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductRawHttpGetIn" />
  <wsdl:message name="GetProductRawHttpGetOut" />
  <wsdl:message name="ShowDeliveredByIdHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ShowDeliveredByIdHttpGetOut" />
  <wsdl:message name="UpdateDispatchHttpGetIn">
    <wsdl:part name="upid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateDispatchHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetProductRawHttpPostIn" />
  <wsdl:message name="GetProductRawHttpPostOut" />
  <wsdl:message name="ShowDeliveredByIdHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ShowDeliveredByIdHttpPostOut" />
  <wsdl:message name="UpdateDispatchHttpPostIn">
    <wsdl:part name="upid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateDispatchHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="ProdRawSoap">
    <wsdl:operation name="GetProductRaw">
      <wsdl:input message="tns:GetProductRawSoapIn" />
      <wsdl:output message="tns:GetProductRawSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <wsdl:input message="tns:ShowDeliveredByIdSoapIn" />
      <wsdl:output message="tns:ShowDeliveredByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <wsdl:input message="tns:UpdateDispatchSoapIn" />
      <wsdl:output message="tns:UpdateDispatchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ProdRawHttpGet">
    <wsdl:operation name="GetProductRaw">
      <wsdl:input message="tns:GetProductRawHttpGetIn" />
      <wsdl:output message="tns:GetProductRawHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <wsdl:input message="tns:ShowDeliveredByIdHttpGetIn" />
      <wsdl:output message="tns:ShowDeliveredByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <wsdl:input message="tns:UpdateDispatchHttpGetIn" />
      <wsdl:output message="tns:UpdateDispatchHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ProdRawHttpPost">
    <wsdl:operation name="GetProductRaw">
      <wsdl:input message="tns:GetProductRawHttpPostIn" />
      <wsdl:output message="tns:GetProductRawHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <wsdl:input message="tns:ShowDeliveredByIdHttpPostIn" />
      <wsdl:output message="tns:ShowDeliveredByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <wsdl:input message="tns:UpdateDispatchHttpPostIn" />
      <wsdl:output message="tns:UpdateDispatchHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProdRawSoap" type="tns:ProdRawSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductRaw">
      <soap:operation soapAction="http://tempuri.org/GetProductRaw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <soap:operation soapAction="http://tempuri.org/ShowDeliveredById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <soap:operation soapAction="http://tempuri.org/UpdateDispatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProdRawSoap12" type="tns:ProdRawSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductRaw">
      <soap12:operation soapAction="http://tempuri.org/GetProductRaw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <soap12:operation soapAction="http://tempuri.org/ShowDeliveredById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <soap12:operation soapAction="http://tempuri.org/UpdateDispatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProdRawHttpGet" type="tns:ProdRawHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetProductRaw">
      <http:operation location="/GetProductRaw" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <http:operation location="/ShowDeliveredById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <http:operation location="/UpdateDispatch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProdRawHttpPost" type="tns:ProdRawHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetProductRaw">
      <http:operation location="/GetProductRaw" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <http:operation location="/ShowDeliveredById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <http:operation location="/UpdateDispatch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProdRaw">
    <wsdl:port name="ProdRawSoap" binding="tns:ProdRawSoap">
      <soap:address location="http://localhost:2908/production/WebService/ProdRaw.asmx" />
    </wsdl:port>
    <wsdl:port name="ProdRawSoap12" binding="tns:ProdRawSoap12">
      <soap12:address location="http://localhost:2908/production/WebService/ProdRaw.asmx" />
    </wsdl:port>
    <wsdl:port name="ProdRawHttpGet" binding="tns:ProdRawHttpGet">
      <http:address location="http://localhost:2908/production/WebService/ProdRaw.asmx" />
    </wsdl:port>
    <wsdl:port name="ProdRawHttpPost" binding="tns:ProdRawHttpPost">
      <http:address location="http://localhost:2908/production/WebService/ProdRaw.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>