ecci.inv.system/Service References/OnholdService/OnHoldService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetOnHoldItems">
        <s:complexType />
      </s:element>
      <s:element name="GetOnHoldItemsResponse">
        <s:complexType />
      </s:element>
      <s:element name="ShowDeliveredById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowDeliveredByIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateDispatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="upid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="rework" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="returns" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="scrap" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDispatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDispatchResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOnHoldItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetOnHoldItems" />
  </wsdl:message>
  <wsdl:message name="GetOnHoldItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetOnHoldItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ShowDeliveredByIdSoapIn">
    <wsdl:part name="parameters" element="tns:ShowDeliveredById" />
  </wsdl:message>
  <wsdl:message name="ShowDeliveredByIdSoapOut">
    <wsdl:part name="parameters" element="tns:ShowDeliveredByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDispatchSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDispatch" />
  </wsdl:message>
  <wsdl:message name="UpdateDispatchSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDispatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetOnHoldItemsHttpGetIn" />
  <wsdl:message name="GetOnHoldItemsHttpGetOut" />
  <wsdl:message name="ShowDeliveredByIdHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ShowDeliveredByIdHttpGetOut" />
  <wsdl:message name="UpdateDispatchHttpGetIn">
    <wsdl:part name="upid" type="s:string" />
    <wsdl:part name="rework" type="s:string" />
    <wsdl:part name="returns" type="s:string" />
    <wsdl:part name="scrap" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateDispatchHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetOnHoldItemsHttpPostIn" />
  <wsdl:message name="GetOnHoldItemsHttpPostOut" />
  <wsdl:message name="ShowDeliveredByIdHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ShowDeliveredByIdHttpPostOut" />
  <wsdl:message name="UpdateDispatchHttpPostIn">
    <wsdl:part name="upid" type="s:string" />
    <wsdl:part name="rework" type="s:string" />
    <wsdl:part name="returns" type="s:string" />
    <wsdl:part name="scrap" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateDispatchHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="OnHoldServiceSoap">
    <wsdl:operation name="GetOnHoldItems">
      <wsdl:input message="tns:GetOnHoldItemsSoapIn" />
      <wsdl:output message="tns:GetOnHoldItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <wsdl:input message="tns:ShowDeliveredByIdSoapIn" />
      <wsdl:output message="tns:ShowDeliveredByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <wsdl:input message="tns:UpdateDispatchSoapIn" />
      <wsdl:output message="tns:UpdateDispatchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="OnHoldServiceHttpGet">
    <wsdl:operation name="GetOnHoldItems">
      <wsdl:input message="tns:GetOnHoldItemsHttpGetIn" />
      <wsdl:output message="tns:GetOnHoldItemsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <wsdl:input message="tns:ShowDeliveredByIdHttpGetIn" />
      <wsdl:output message="tns:ShowDeliveredByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <wsdl:input message="tns:UpdateDispatchHttpGetIn" />
      <wsdl:output message="tns:UpdateDispatchHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="OnHoldServiceHttpPost">
    <wsdl:operation name="GetOnHoldItems">
      <wsdl:input message="tns:GetOnHoldItemsHttpPostIn" />
      <wsdl:output message="tns:GetOnHoldItemsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <wsdl:input message="tns:ShowDeliveredByIdHttpPostIn" />
      <wsdl:output message="tns:ShowDeliveredByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <wsdl:input message="tns:UpdateDispatchHttpPostIn" />
      <wsdl:output message="tns:UpdateDispatchHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OnHoldServiceSoap" type="tns:OnHoldServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOnHoldItems">
      <soap:operation soapAction="http://tempuri.org/GetOnHoldItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <soap:operation soapAction="http://tempuri.org/ShowDeliveredById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <soap:operation soapAction="http://tempuri.org/UpdateDispatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OnHoldServiceSoap12" type="tns:OnHoldServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOnHoldItems">
      <soap12:operation soapAction="http://tempuri.org/GetOnHoldItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <soap12:operation soapAction="http://tempuri.org/ShowDeliveredById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <soap12:operation soapAction="http://tempuri.org/UpdateDispatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OnHoldServiceHttpGet" type="tns:OnHoldServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetOnHoldItems">
      <http:operation location="/GetOnHoldItems" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <http:operation location="/ShowDeliveredById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <http:operation location="/UpdateDispatch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OnHoldServiceHttpPost" type="tns:OnHoldServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetOnHoldItems">
      <http:operation location="/GetOnHoldItems" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <http:operation location="/ShowDeliveredById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <http:operation location="/UpdateDispatch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnHoldService">
    <wsdl:port name="OnHoldServiceSoap" binding="tns:OnHoldServiceSoap">
      <soap:address location="http://localhost:2908/qualitycontrol/WebService/OnHoldService.asmx" />
    </wsdl:port>
    <wsdl:port name="OnHoldServiceSoap12" binding="tns:OnHoldServiceSoap12">
      <soap12:address location="http://localhost:2908/qualitycontrol/WebService/OnHoldService.asmx" />
    </wsdl:port>
    <wsdl:port name="OnHoldServiceHttpGet" binding="tns:OnHoldServiceHttpGet">
      <http:address location="http://localhost:2908/qualitycontrol/WebService/OnHoldService.asmx" />
    </wsdl:port>
    <wsdl:port name="OnHoldServiceHttpPost" binding="tns:OnHoldServiceHttpPost">
      <http:address location="http://localhost:2908/qualitycontrol/WebService/OnHoldService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>