ecci.inv.system/Service References/ProductOrderService/ProductOrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPurchaseOrder">
        <s:complexType />
      </s:element>
      <s:element name="GetPurchaseOrderResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPurchaseOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrder" />
  </wsdl:message>
  <wsdl:message name="GetPurchaseOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetPurchaseOrderHttpGetIn" />
  <wsdl:message name="GetPurchaseOrderHttpGetOut" />
  <wsdl:message name="GetPurchaseOrderHttpPostIn" />
  <wsdl:message name="GetPurchaseOrderHttpPostOut" />
  <wsdl:portType name="PurchaseOrderServiceSoap">
    <wsdl:operation name="GetPurchaseOrder">
      <wsdl:input message="tns:GetPurchaseOrderSoapIn" />
      <wsdl:output message="tns:GetPurchaseOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PurchaseOrderServiceHttpGet">
    <wsdl:operation name="GetPurchaseOrder">
      <wsdl:input message="tns:GetPurchaseOrderHttpGetIn" />
      <wsdl:output message="tns:GetPurchaseOrderHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PurchaseOrderServiceHttpPost">
    <wsdl:operation name="GetPurchaseOrder">
      <wsdl:input message="tns:GetPurchaseOrderHttpPostIn" />
      <wsdl:output message="tns:GetPurchaseOrderHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PurchaseOrderServiceSoap" type="tns:PurchaseOrderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPurchaseOrder">
      <soap:operation soapAction="http://tempuri.org/GetPurchaseOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PurchaseOrderServiceSoap12" type="tns:PurchaseOrderServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPurchaseOrder">
      <soap12:operation soapAction="http://tempuri.org/GetPurchaseOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PurchaseOrderServiceHttpGet" type="tns:PurchaseOrderServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetPurchaseOrder">
      <http:operation location="/GetPurchaseOrder" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PurchaseOrderServiceHttpPost" type="tns:PurchaseOrderServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetPurchaseOrder">
      <http:operation location="/GetPurchaseOrder" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PurchaseOrderService">
    <wsdl:port name="PurchaseOrderServiceSoap" binding="tns:PurchaseOrderServiceSoap">
      <soap:address location="http://localhost:2908/sales/WebService/ProductOrderService.asmx" />
    </wsdl:port>
    <wsdl:port name="PurchaseOrderServiceSoap12" binding="tns:PurchaseOrderServiceSoap12">
      <soap12:address location="http://localhost:2908/sales/WebService/ProductOrderService.asmx" />
    </wsdl:port>
    <wsdl:port name="PurchaseOrderServiceHttpGet" binding="tns:PurchaseOrderServiceHttpGet">
      <http:address location="http://localhost:2908/sales/WebService/ProductOrderService.asmx" />
    </wsdl:port>
    <wsdl:port name="PurchaseOrderServiceHttpPost" binding="tns:PurchaseOrderServiceHttpPost">
      <http:address location="http://localhost:2908/sales/WebService/ProductOrderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>