ecci.inv.system/Service References/AdminRawService/AdminRaw.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRawMaterials">
        <s:complexType />
      </s:element>
      <s:element name="GetRawMaterialsResponse">
        <s:complexType />
      </s:element>
      <s:element name="ShowDeliveredById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowDeliveredByIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateDispatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="upid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDispatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDispatchResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRawMaterialsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRawMaterials" />
  </wsdl:message>
  <wsdl:message name="GetRawMaterialsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRawMaterialsResponse" />
  </wsdl:message>
  <wsdl:message name="ShowDeliveredByIdSoapIn">
    <wsdl:part name="parameters" element="tns:ShowDeliveredById" />
  </wsdl:message>
  <wsdl:message name="ShowDeliveredByIdSoapOut">
    <wsdl:part name="parameters" element="tns:ShowDeliveredByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDispatchSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDispatch" />
  </wsdl:message>
  <wsdl:message name="UpdateDispatchSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDispatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetRawMaterialsHttpGetIn" />
  <wsdl:message name="GetRawMaterialsHttpGetOut" />
  <wsdl:message name="ShowDeliveredByIdHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ShowDeliveredByIdHttpGetOut" />
  <wsdl:message name="UpdateDispatchHttpGetIn">
    <wsdl:part name="upid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateDispatchHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetRawMaterialsHttpPostIn" />
  <wsdl:message name="GetRawMaterialsHttpPostOut" />
  <wsdl:message name="ShowDeliveredByIdHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ShowDeliveredByIdHttpPostOut" />
  <wsdl:message name="UpdateDispatchHttpPostIn">
    <wsdl:part name="upid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateDispatchHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="AdminRawSoap">
    <wsdl:operation name="GetRawMaterials">
      <wsdl:input message="tns:GetRawMaterialsSoapIn" />
      <wsdl:output message="tns:GetRawMaterialsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <wsdl:input message="tns:ShowDeliveredByIdSoapIn" />
      <wsdl:output message="tns:ShowDeliveredByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <wsdl:input message="tns:UpdateDispatchSoapIn" />
      <wsdl:output message="tns:UpdateDispatchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AdminRawHttpGet">
    <wsdl:operation name="GetRawMaterials">
      <wsdl:input message="tns:GetRawMaterialsHttpGetIn" />
      <wsdl:output message="tns:GetRawMaterialsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <wsdl:input message="tns:ShowDeliveredByIdHttpGetIn" />
      <wsdl:output message="tns:ShowDeliveredByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <wsdl:input message="tns:UpdateDispatchHttpGetIn" />
      <wsdl:output message="tns:UpdateDispatchHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AdminRawHttpPost">
    <wsdl:operation name="GetRawMaterials">
      <wsdl:input message="tns:GetRawMaterialsHttpPostIn" />
      <wsdl:output message="tns:GetRawMaterialsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <wsdl:input message="tns:ShowDeliveredByIdHttpPostIn" />
      <wsdl:output message="tns:ShowDeliveredByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <wsdl:input message="tns:UpdateDispatchHttpPostIn" />
      <wsdl:output message="tns:UpdateDispatchHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminRawSoap" type="tns:AdminRawSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRawMaterials">
      <soap:operation soapAction="http://tempuri.org/GetRawMaterials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <soap:operation soapAction="http://tempuri.org/ShowDeliveredById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <soap:operation soapAction="http://tempuri.org/UpdateDispatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminRawSoap12" type="tns:AdminRawSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRawMaterials">
      <soap12:operation soapAction="http://tempuri.org/GetRawMaterials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <soap12:operation soapAction="http://tempuri.org/ShowDeliveredById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <soap12:operation soapAction="http://tempuri.org/UpdateDispatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminRawHttpGet" type="tns:AdminRawHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetRawMaterials">
      <http:operation location="/GetRawMaterials" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <http:operation location="/ShowDeliveredById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <http:operation location="/UpdateDispatch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminRawHttpPost" type="tns:AdminRawHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetRawMaterials">
      <http:operation location="/GetRawMaterials" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <http:operation location="/ShowDeliveredById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateDispatch">
      <http:operation location="/UpdateDispatch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminRaw">
    <wsdl:port name="AdminRawSoap" binding="tns:AdminRawSoap">
      <soap:address location="http://localhost:2908/admin/WebService/AdminRaw.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminRawSoap12" binding="tns:AdminRawSoap12">
      <soap12:address location="http://localhost:2908/admin/WebService/AdminRaw.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminRawHttpGet" binding="tns:AdminRawHttpGet">
      <http:address location="http://localhost:2908/admin/WebService/AdminRaw.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminRawHttpPost" binding="tns:AdminRawHttpPost">
      <http:address location="http://localhost:2908/admin/WebService/AdminRaw.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>