ecci.inv.system/Service References/ManageItemService/ManageItemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetItem">
        <s:complexType />
      </s:element>
      <s:element name="GetItemResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetItemById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemByIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateItemById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iprice" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateItemByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateItemByIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetItemSoapIn">
    <wsdl:part name="parameters" element="tns:GetItem" />
  </wsdl:message>
  <wsdl:message name="GetItemSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemById" />
  </wsdl:message>
  <wsdl:message name="GetItemByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemByIdResponse" />
  </wsdl:message>
  <wsdl:message name="updateItemByIdSoapIn">
    <wsdl:part name="parameters" element="tns:updateItemById" />
  </wsdl:message>
  <wsdl:message name="updateItemByIdSoapOut">
    <wsdl:part name="parameters" element="tns:updateItemByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemHttpGetIn" />
  <wsdl:message name="GetItemHttpGetOut" />
  <wsdl:message name="GetItemByIdHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetItemByIdHttpGetOut" />
  <wsdl:message name="updateItemByIdHttpGetIn">
    <wsdl:part name="iid" type="s:string" />
    <wsdl:part name="iprice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="updateItemByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetItemHttpPostIn" />
  <wsdl:message name="GetItemHttpPostOut" />
  <wsdl:message name="GetItemByIdHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetItemByIdHttpPostOut" />
  <wsdl:message name="updateItemByIdHttpPostIn">
    <wsdl:part name="iid" type="s:string" />
    <wsdl:part name="iprice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="updateItemByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="ManageItemServiceSoap">
    <wsdl:operation name="GetItem">
      <wsdl:input message="tns:GetItemSoapIn" />
      <wsdl:output message="tns:GetItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemById">
      <wsdl:input message="tns:GetItemByIdSoapIn" />
      <wsdl:output message="tns:GetItemByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateItemById">
      <wsdl:input message="tns:updateItemByIdSoapIn" />
      <wsdl:output message="tns:updateItemByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ManageItemServiceHttpGet">
    <wsdl:operation name="GetItem">
      <wsdl:input message="tns:GetItemHttpGetIn" />
      <wsdl:output message="tns:GetItemHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemById">
      <wsdl:input message="tns:GetItemByIdHttpGetIn" />
      <wsdl:output message="tns:GetItemByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="updateItemById">
      <wsdl:input message="tns:updateItemByIdHttpGetIn" />
      <wsdl:output message="tns:updateItemByIdHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ManageItemServiceHttpPost">
    <wsdl:operation name="GetItem">
      <wsdl:input message="tns:GetItemHttpPostIn" />
      <wsdl:output message="tns:GetItemHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemById">
      <wsdl:input message="tns:GetItemByIdHttpPostIn" />
      <wsdl:output message="tns:GetItemByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="updateItemById">
      <wsdl:input message="tns:updateItemByIdHttpPostIn" />
      <wsdl:output message="tns:updateItemByIdHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManageItemServiceSoap" type="tns:ManageItemServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItem">
      <soap:operation soapAction="http://tempuri.org/GetItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemById">
      <soap:operation soapAction="http://tempuri.org/GetItemById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateItemById">
      <soap:operation soapAction="http://tempuri.org/updateItemById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManageItemServiceSoap12" type="tns:ManageItemServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItem">
      <soap12:operation soapAction="http://tempuri.org/GetItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemById">
      <soap12:operation soapAction="http://tempuri.org/GetItemById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateItemById">
      <soap12:operation soapAction="http://tempuri.org/updateItemById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManageItemServiceHttpGet" type="tns:ManageItemServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetItem">
      <http:operation location="/GetItem" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetItemById">
      <http:operation location="/GetItemById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="updateItemById">
      <http:operation location="/updateItemById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManageItemServiceHttpPost" type="tns:ManageItemServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetItem">
      <http:operation location="/GetItem" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetItemById">
      <http:operation location="/GetItemById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="updateItemById">
      <http:operation location="/updateItemById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManageItemService">
    <wsdl:port name="ManageItemServiceSoap" binding="tns:ManageItemServiceSoap">
      <soap:address location="http://localhost:2908/superadmin/WebService/ManageItemService.asmx" />
    </wsdl:port>
    <wsdl:port name="ManageItemServiceSoap12" binding="tns:ManageItemServiceSoap12">
      <soap12:address location="http://localhost:2908/superadmin/WebService/ManageItemService.asmx" />
    </wsdl:port>
    <wsdl:port name="ManageItemServiceHttpGet" binding="tns:ManageItemServiceHttpGet">
      <http:address location="http://localhost:2908/superadmin/WebService/ManageItemService.asmx" />
    </wsdl:port>
    <wsdl:port name="ManageItemServiceHttpPost" binding="tns:ManageItemServiceHttpPost">
      <http:address location="http://localhost:2908/superadmin/WebService/ManageItemService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>