ecci.inv.system/Service References/DeliveryService/OrderDeliveryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDeliveredOrder">
        <s:complexType />
      </s:element>
      <s:element name="GetDeliveredOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="ShowDeliveredById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowDeliveredByIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="upid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="total" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateByIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDeliveredOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeliveredOrder" />
  </wsdl:message>
  <wsdl:message name="GetDeliveredOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveredOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ShowDeliveredByIdSoapIn">
    <wsdl:part name="parameters" element="tns:ShowDeliveredById" />
  </wsdl:message>
  <wsdl:message name="ShowDeliveredByIdSoapOut">
    <wsdl:part name="parameters" element="tns:ShowDeliveredByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateByIdSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateById" />
  </wsdl:message>
  <wsdl:message name="UpdateByIdSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliveredOrderHttpGetIn" />
  <wsdl:message name="GetDeliveredOrderHttpGetOut" />
  <wsdl:message name="ShowDeliveredByIdHttpGetIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ShowDeliveredByIdHttpGetOut" />
  <wsdl:message name="UpdateByIdHttpGetIn">
    <wsdl:part name="upid" type="s:string" />
    <wsdl:part name="total" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateByIdHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetDeliveredOrderHttpPostIn" />
  <wsdl:message name="GetDeliveredOrderHttpPostOut" />
  <wsdl:message name="ShowDeliveredByIdHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ShowDeliveredByIdHttpPostOut" />
  <wsdl:message name="UpdateByIdHttpPostIn">
    <wsdl:part name="upid" type="s:string" />
    <wsdl:part name="total" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateByIdHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:portType name="OrderDeliveryServiceSoap">
    <wsdl:operation name="GetDeliveredOrder">
      <wsdl:input message="tns:GetDeliveredOrderSoapIn" />
      <wsdl:output message="tns:GetDeliveredOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <wsdl:input message="tns:ShowDeliveredByIdSoapIn" />
      <wsdl:output message="tns:ShowDeliveredByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateById">
      <wsdl:input message="tns:UpdateByIdSoapIn" />
      <wsdl:output message="tns:UpdateByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="OrderDeliveryServiceHttpGet">
    <wsdl:operation name="GetDeliveredOrder">
      <wsdl:input message="tns:GetDeliveredOrderHttpGetIn" />
      <wsdl:output message="tns:GetDeliveredOrderHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <wsdl:input message="tns:ShowDeliveredByIdHttpGetIn" />
      <wsdl:output message="tns:ShowDeliveredByIdHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateById">
      <wsdl:input message="tns:UpdateByIdHttpGetIn" />
      <wsdl:output message="tns:UpdateByIdHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="OrderDeliveryServiceHttpPost">
    <wsdl:operation name="GetDeliveredOrder">
      <wsdl:input message="tns:GetDeliveredOrderHttpPostIn" />
      <wsdl:output message="tns:GetDeliveredOrderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <wsdl:input message="tns:ShowDeliveredByIdHttpPostIn" />
      <wsdl:output message="tns:ShowDeliveredByIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateById">
      <wsdl:input message="tns:UpdateByIdHttpPostIn" />
      <wsdl:output message="tns:UpdateByIdHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderDeliveryServiceSoap" type="tns:OrderDeliveryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDeliveredOrder">
      <soap:operation soapAction="http://tempuri.org/GetDeliveredOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <soap:operation soapAction="http://tempuri.org/ShowDeliveredById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateById">
      <soap:operation soapAction="http://tempuri.org/UpdateById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrderDeliveryServiceSoap12" type="tns:OrderDeliveryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDeliveredOrder">
      <soap12:operation soapAction="http://tempuri.org/GetDeliveredOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <soap12:operation soapAction="http://tempuri.org/ShowDeliveredById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateById">
      <soap12:operation soapAction="http://tempuri.org/UpdateById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrderDeliveryServiceHttpGet" type="tns:OrderDeliveryServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetDeliveredOrder">
      <http:operation location="/GetDeliveredOrder" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <http:operation location="/ShowDeliveredById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateById">
      <http:operation location="/UpdateById" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrderDeliveryServiceHttpPost" type="tns:OrderDeliveryServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetDeliveredOrder">
      <http:operation location="/GetDeliveredOrder" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="ShowDeliveredById">
      <http:operation location="/ShowDeliveredById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="UpdateById">
      <http:operation location="/UpdateById" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderDeliveryService">
    <wsdl:port name="OrderDeliveryServiceSoap" binding="tns:OrderDeliveryServiceSoap">
      <soap:address location="http://localhost:2908/qualitycontrol/WebService/OrderDeliveryService.asmx" />
    </wsdl:port>
    <wsdl:port name="OrderDeliveryServiceSoap12" binding="tns:OrderDeliveryServiceSoap12">
      <soap12:address location="http://localhost:2908/qualitycontrol/WebService/OrderDeliveryService.asmx" />
    </wsdl:port>
    <wsdl:port name="OrderDeliveryServiceHttpGet" binding="tns:OrderDeliveryServiceHttpGet">
      <http:address location="http://localhost:2908/qualitycontrol/WebService/OrderDeliveryService.asmx" />
    </wsdl:port>
    <wsdl:port name="OrderDeliveryServiceHttpPost" binding="tns:OrderDeliveryServiceHttpPost">
      <http:address location="http://localhost:2908/qualitycontrol/WebService/OrderDeliveryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>